<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>adminPanel</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<header th:replace="fragments/header :: menu"></header>

<ul>
    <li><a th:href="@{/admin/panel/UserAdd}">Dodaj Użytkownika</a></li>
    <li><a th:href="@{/admin/panel/TrainerAdd}">Dodaj Trenera</a></li>
    <li><a href="/admin/trenerzy">Zarządzanie listą trenerów</a></li>
    <li><a href="/admin/kursy">Zarządzanie dostępnymi kursami</a></li>
    <li><a href="/admin/edycje">Zarządzanie edycjami kursów</a></li>
</ul>





<footer th:replace="fragments/footer :: stopka"></footer>
</body>
</html>