<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>


    <footer th:fragment="stopka">
        <div class="socials">
            <div class="socialdivs"></div>
            <div class="fb"><a href="http://www.facebook.com"><img src="pictures/facebook.jpeg"  alt="brak"></a></div>
            <div class="al" ><a href="http://www.allegro.com"><img  src="pictures/allegro.jpeg"  alt="brak"></a></div>

            <div style="clear: both"></div>



        </div>

        <div class ="footer">Copyright by Piotrek :)</div>
    </footer>
</body>
</html>