<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>


    <footer th:fragment="stopka">
        <div class="socials">
            <div class="socialdivs"></div>
            <div class="fb">fb</div>
            <div class="yt">yt</div>
            <div class="fbb">
                <a href="https://web.facebook.com/Choinki-na-swietapl-547794572351431/" target="_blank" class="sociallink"></a>
            </div>
            <div style="clear: both"></div>



        </div>

        <div class ="footer">Copyright by Piotrek :)</div>
    </footer>
</body>
</html>