<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <nav th:fragment="menu">
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/o-nas">O Nas</a></li>
            <li><a href="/kursy">Edycje Kursów</a></li>
            <li><a href="/trenerzy">Trenerzy</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
            <li   sec:authorize="!isAuthenticated()|| hasAuthority('user')"><a href="/user">Panel Kursanta</a> </li>
            <li   sec:authorize="isAuthenticated()"><a href="/logout">Wyloguj</a> </li>
            <!--<li><a href="/user/panel">Panel Kursanta</a></li>-->
            <!--<li sec:authorize="isAuthenticated()">-->
                <!--<a>Wyloguj</a>-->
            <!--</li>-->
            <!--<li sec:authentication="name" ><a href="/">Wyloguj</a></li>-->
            <!--<li th:block="${#authentication.name}" ><a href="/">Wyloguj mnie</a></li>-->

        </ul>
        <ul sec:authorize="hasAuthority('admin')">
            <li><a href="/admin/trenerzy">Admin Trenerzy</a></li>
            <li><a href="/admin/kursy">Admin Kursy</a></li>
            <li><a href="/admin/edycje">Admin Edycje Kursow</a></li>
            <li><a href="/logout">Wyloguj</a></li>
        </ul>
    </nav>


</body>
</html>