body{
    background-color: #303030;
    color: #ffffff;
    font-size: 20px;
    margin: 0 !important;

}

.wrapper
{
    width: 100%;
}

.header
{
    width: 100%;
    padding: 40px 0;
}

.logo
{
    width: 450px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}

.nav
{
    width: 100%;
    padding: 10px 0;
    background-color: grey;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;


}
.content
{
    width: 1000px;
    margin-left:auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 10px;
}

.socials
{
    width: 100%;
    text-align: center;
    background-color: #303030;
    margin-top: 50px;
}
.socialdivs
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.fb
{
    width: 250px;
    height: 155px;
    float: left;
}
.fb:hover {

    background-color: #4668b3;
}
.yt
{
    width: 250px;
    height: 155px;
    float: left;
}
.yt:hover {

    background-color: #d94348;
}

.footer
{
    text-align: center;
    background-color: #222222;
    padding: 30px;
}

.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

ol{
    padding: 0;
    margin: 0;
    list-style-type:none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;

}
ol a{
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol > li{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px solid #000000;
}

ol > li:first-child
{
    border-left: 1px solid #000000;
}

ol>li:hover
{
    background-color: #3E5260;
}

ol>li:hover>a{
    color: #9DCECE;
}

ol>li >ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol>li>ul>li{
    background-color: #3E5260;
    position:relative;
    z-index: 100;
    border-top: 1px solid  #000000;
}
ol>li>ul>li:hover
  {
      background-color: gray;
  }
ol>li>ul>li:hover>a
{
    background-color: gray;
    color: #9DCECE;
}

ol>li:hover>ul
{
    display: block;
}
a
{
    text-decoration: none;
}
#tabelaFormat {
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    border: 1px solid #824100;

}
#tabelaFormat a{
    color: #4668b3;
}


#tabelaFormat tr:nth-child(odd){
    background: #3E5260;
    color: lightsteelblue;
}

#tabelaFormat tr:nth-child(even){
    background: lightsteelblue;
    color: #3E5260;
}
#tabelaFormat th{
    border: 1px dotted #FFA346;
    /*color: #3E5260;*/
    padding:12px;
}
#tabelaFormat td{
    border: 1px dashed #000;
    /*color: red;*/
    padding:12px;
    width:90px;
}

.error{
    color: red;
}

.filedError{

    border-style: solid;
    border-color: red;
}