body{
    background-color: #303030;
    color: #ffffff;
    font-size: 20px;
    margin: 0 !important;

}

.wrapper
{
    width: 100%;
}

.header
{
    width: 100%;
    padding: 40px 0;
}

.logo
{
    width: 450px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}

.nav
{
    width: 100%;
    padding: 10px 0;
    background-color: grey;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;


}
.content
{
    width: 1000px;
    margin-left:auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 10px;

}

#container
{
background-color: white;
    color: black;
    width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: -2px -2px 6px 5px rgba(221,221,221,0.48);
    -moz-box-shadow: -2px -2px 6px 5px rgba(221,221,221,0.48);
    box-shadow: -2px -2px 6px 5px rgba(221,221,221,0.48);
}
#container h1{
    text-align: center;
}

input[type=text],
input[type=password],
input[type=email]
{
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;

}

input[type=submit],
input[type=reset]
{
    width: 300px;
    background-color: grey;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus
{
    -webkit-box-shadow: -0px 0px 6px 5px rgba(221,221,221,0.48);
    -moz-box-shadow: 0px 0px 6px 5px rgba(221,221,221,0.48);
    box-shadow: 0px 0px 6px 5px rgba(221,221,221,0.48);
    border: 2px solid #a5cdb4;
    background-color: #a5cdb4;
}
input[type=submit]:hover,
input[type=reset]:hover
{
    background-color: #3E5260;

}
.socials
{
    width: 100%;
    text-align: center;
    background-color: #303030;
    margin-top: 50px;
}
.socialdivs
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.fb img
{
    width: 155px;
    height: 145px;
    float: left;


}

.fb img:hover{
    opacity: 0.5;
}
.al img
{
    width: 155px;
    height: 145px;
    float: left;
}


.al img:hover{

    opacity: 0.5;
}

.footer
{
    text-align: center;
    background-color: #222222;
    padding: 30px;
}

.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

ol{
    padding: 0;
    margin: 0;
    list-style-type:none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;

}
ol a{
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol > li{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px solid #000000;
}

ol > li:first-child
{
    border-left: 1px solid #000000;
}

ol>li:hover
{
    background-color: #3E5260;
}

ol>li:hover>a{
    color: #9DCECE;
}

ol>li >ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol>li>ul>li{
    background-color: #3E5260;
    position:relative;
    z-index: 100;
    border-top: 1px solid  #000000;
}
ol>li>ul>li:hover
  {
      background-color: gray;
  }
ol>li>ul>li:hover>a
{
    background-color: gray;
    color: #9DCECE;
}

ol>li:hover>ul
{
    display: block;
}
a
{
    text-decoration: none;
}
#tabelaFormat {
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    /*border: 1px solid #824100;*/

}
#tabelaFormat a{
    color: #4668b3;
}


#tabelaFormat tr:nth-child(odd){
    background: #3E5260;
    color: lightsteelblue;
}

#tabelaFormat tr:nth-child(even){
    background: lightsteelblue;
    color: #3E5260;
}
#tabelaFormat th{
    border: 1px dashed #000;

    padding:12px;
}
#tabelaFormat td{
    border: 1px dashed #000;

    padding:12px;
    width:90px;
}

.error{
    color: red;
}

input.filedError{

    border-style: solid;
    border-color: red;
}