<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditionForm</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var dateFormat = "yy-mm-dd",
                from = $('#dataStartu')
                    .datepicker({
                        minDate: 0,
                        changeMonth: true,
                        numberOfMonths: 1,
                        dateFormat: "yy-mm-dd"
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $('#dataKonca').datepicker({
                    minDate: 0,
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: "yy-mm-dd"
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
    </script>


</head>
<body>
<header th:replace="fragments/header :: menu"></header>

<div class="content">

    <div id='container'>

        <h1>Dodawanie Edycji Kursu</h1>


        <form th:action="@{/admin/edycje/dodano}" method="post" th:object="${courseEdition}">


            <label for="course">Kurs</label>
            <select th:field="*{course}" id="course">
                <option th:each="element : ${courses}" th:value="${element.id}" th:text="${element.name}"></option>
            </select>
            <br>
            <br>
            <label for="mode">Tryb</label>
            <select th:field="*{mode}" id="mode">
                <option th:each="element : ${mode}" th:value="${element.id}" th:text="${element.nazwa}"></option>
            </select>
            <br>
            <br>


            <label for="dataStartu">Data Startu</label>
            <input th:class="${#fields.hasErrors()}? 'filedError'" id="dataStartu" th:field="*{startDate}"/>
            <!--<span th:errors="*{startDate}" class="error"></span>-->
            <br><br>


            <label for="dataKonca">Data Konca</label>
            <input th:class="${#fields.hasErrors()}? 'filedError'" id="dataKonca" th:field="*{endDate}"/>
            <!--<span th:errors="*{endDate}" class="error"></span>-->
            <br><br>


            <label for="cena">Cena</label>
            <input th:class="${#fields.hasErrors()}? 'filedError'" id="cena" type="text" th:field="*{price}"/>
            <!--<span th:errors="*{price}" class="error"></span>-->
            <br><br>


            <label for="liczbaUczestnikow">LiczbaUczestnikow</label>
            <input th:class="${#fields.hasErrors()}? 'filedError'" id="liczbaUczestnikow" type="text"
                   th:field="*{membersLimit}"/>
            <!--<span th:errors="*{membersLimit}" class="error"></span>-->
            <br><br>

            <label for="mentor">Mentor</label>
            <select th:field="*{trainer}" id="mentor">
                <option th:each="element : ${trainer}" th:value="${element.id}"
                        th:text="${element.firstName}+' '+${element.lastName}"></option>
            </select>
            <br>
            <br>

            <input id="id" type="hidden" th:field="*{id}">

            <!--<input type="radio" id="activeYes" name="contact" th:value="*{setActive(true)}" th:if="${courseEdition.id} > 0" >-->
            <!--<label for="activeYes" th:if="${courseEdition.id} > 0">Rekrutacja aktywna</label>-->

            <!--<input type="radio" id="activeNo" name="contact" th:value="*{setActive(false)}" th:if="${courseEdition.id} > 0">-->
            <!--<label for="activeNo" th:if="${courseEdition.id} > 0">Rekrutacja zakończona</label>-->

            <label for="radioTrue">Aktywny</label>
            <input type="radio" th:value="true" th:field="*{active}" id="radioTrue">
            <label for="radioFalse">Nieaktywny</label>
            <input type="radio" th:value="false" th:field="*{active}" id="radioFalse">
            <br>
            <br>

            <input type="submit" name="edytuj" value="edytuj" th:if="${courseEdition.id} > 0"/>
            <input type="submit" name="dodaj" value="dodaj" th:unless="${courseEdition.id} > 0"/>
            <input type="reset" value="resetuj"/>

        </form>
    </div>
</div>

<footer th:replace="fragments/footer :: stopka"></footer>

</body>
</html>