<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>TrainerForm</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="fragments/header :: menu"></header>



<h1>Dodawanie Kursanta</h1>
<h2 th:unless="${edition}"> Rekrutacja zakonczona</h2>
<!--<h1>Zapisujesz sie na kurs <p th:text="${edition.course.name}"></p></h1>-->

<form th:action="@{'/kursy/dodano/'+${edition.id}}" method="post" th:object="${uzytkownik}" th:if="${edition}" >


    <!--<p th:errors="*" class ="error" ></p>-->


    <label for="nazwaKursu">Wybrany kurs</label>
    <input id="nazwaKursu" th:value="${edition.course.name}" readonly/></br></br>

    <label for="imie">Imie</label>
    <input th:class="${#fields.hasErrors('name')}? 'filedError'" id="imie" type="text" th:field="*{name}"/>
    <span th:errors="*{name}" class ="error" ></span></br></br>

    <label for="lastname">Nazwisko</label>
    <input th:class="${#fields.hasErrors('surname')}? 'filedError'" id="lastname" type="text" th:field="*{surname}" placeholder="Podaj Nazwisko"/>
    <span th:errors="*{surname}" class ="error" ></span></br></br>

    <label for="email">E-mail</label>
    <input th:class="${#fields.hasErrors('email')}? 'filedError'" th:classappend ="${exist}?'filedError'" id="email" type="email" th:field="*{email}"/>
    <span th:errors="*{email}" class ="error" ></span>
    <span th:if="${exist}" style="color: red">Użytkownik o podanym E-mailu już istnieje!</span></br></br>

    <label for="phone">Telefon kontaktowy</label>
    <input th:class="${#fields.hasErrors('phoneNumber')}? 'filedError'" id="phone" type="text" th:field="*{phoneNumber}"/>
    <span th:errors="*{phoneNumber}" class ="error" ></span></br></br>

    <label for="password">Hasło</label>
    <input th:class="${#fields.hasErrors('password')}? 'filedError'" id="password" type="text" th:field="*{password}"/>
    <span th:errors="*{password}" class ="error" ></span></br></br>

    <!--<label for="id_kursu">Edycja kursu</label>-->
    <!--<input th:class="${#fields.hasErrors()}? 'filedError'" id="id_kursu" th:value="${edition.id}" th:name="editions" readonly/></br></br>-->

    <input id="id" type="hidden" th:field="*{id}">


    <input type="submit" name="dodaj" value="dodaj" >



</form>


<footer th:replace="fragments/footer :: stopka"></footer>

</body>
</html>