<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<body>
<header th:replace="fragments/header :: menu"></header>



<div class="content">

    <p>Siema!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a ipsum lacus. Nullam neque quam, posuere sed malesuada id, maximus vel turpis. Sed vehicula convallis leo sit amet gravida. Donec vel pretium lectus. Morbi ac neque magna. Sed vitae viverra leo. Pellentesque venenatis efficitur porta. Cras tempor, mauris eget tincidunt elementum, ex elit congue ante, non accumsan felis velit eu dui. Ut eu quam imperdiet, faucibus lacus vitae, finibus nunc. Nunc egestas, leo et varius volutpat, nibh est molestie purus, at aliquam risus risus et neque. In at cursus nulla, fermentum accumsan odio. Nam vitae ex ullamcorper nibh vestibulum commodo a sed velit. Suspendisse viverra nibh sed tincidunt condimentum. Cras blandit lacus ex, non ultricies ligula faucibus vel. Quisque sagittis auctor tellus quis pharetra.</p>

    <p>Proin vel lobortis nisl, quis dictum nisi. Suspendisse potenti. Fusce condimentum ultrices nibh, ac dictum nulla efficitur et. Aliquam erat volutpat. Maecenas finibus sapien et magna fermentum, eu pretium nibh fringilla. Sed facilisis nulla nec justo dignissim mattis. Aliquam bibendum mollis viverra. Maecenas pulvinar turpis quis dui congue, id auctor turpis varius.</p>

    <p>Suspendisse augue felis, lacinia et nisi at, eleifend dictum nulla. Cras eros leo, iaculis eget diam at, faucibus maximus mi. Integer dictum leo ut nunc ultricies elementum. Aenean vehicula convallis neque. Aliquam pharetra nulla ac efficitur congue. Ut vitae lacus a elit finibus consectetur. Nullam sodales tristique porta. Maecenas eleifend ex ut tincidunt tempor. Phasellus ipsum neque, mattis eget leo vitae, viverra rutrum ex. Nam ac quam non neque condimentum sollicitudin non non mauris.</p>

    <p>Curabitur vel semper elit. Nam est eros, vestibulum molestie fringilla at, ultrices non ligula. Morbi quis eleifend velit. Curabitur auctor tempor nunc a aliquet. In pellentesque euismod est in tempor. Maecenas ac commodo velit. Nunc fermentum elit et imperdiet eleifend. Integer volutpat nisi auctor, faucibus ligula non, semper nibh. Duis sed fermentum augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam auctor sollicitudin augue. Etiam iaculis felis quis aliquet accumsan.</p>

    <p>Proin eget lacus eu dui posuere condimentum in sed dui. Phasellus pharetra tristique erat. Fusce vehicula vitae dolor sit amet facilisis. Fusce libero metus, sodales vel imperdiet id, suscipit non tellus. Cras bibendum ornare turpis. Fusce at varius diam. Donec convallis sodales elementum. Phasellus metus orci, cursus eget augue et, tincidunt tempus purus. Cras fringilla nulla sed aliquet elementum.</p>


</div>

    <!--<th:block th:text="${lastName}"></th:block><br><br>-->
    <!--<h1><span th:text="${dddd}"></span> Witaj na bootcampie<span th:text="${wiek}"></span></h1 >-->





    <footer th:replace="fragments/footer :: stopka"></footer>

</body>
</html>