<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header th:replace="fragments/header :: menu"></header>

    <ul>
        <!--<th:block th:each="trainer : ${trainerList}">-->
            <!--<li th:text="${trainer.firstName} + ' ' + ${trainer.lastName}"-->
                <!--th:hred="">-->
            <!--</li>-->
        <!--</th:block>-->
        <li th:each="trainer : ${trainerList}">

            <a th:href="'/trenerzy/' +${trainer.id}" th:text="${trainer.firstName} + ' ' + ${trainer.lastName}"></a>
        </li>
    </ul>



    <footer th:replace="fragments/footer :: stopka"></footer>

</body>
</html>