<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Twoje Kursy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<header th:replace="fragments/header :: menu"></header>
<p>Twoje Kursy</p>
<h1>Zapis na kurs</h1>


<table id="tabelaFormat" border="solid">
    <tr>
        <th> Nazwa </th>
        <th> Data od </th>
        <th> Data do</th>
        <th> Cena</th>
        <th> Ilosc miejsc</th>
        <th> Tryb</th>
        <th> Opis</th>
        <th> Mentor</th>

    </tr>

    <tr th:each="edition : ${editionList}">
        <td  th:text="${edition.course.name}"></td>
        <td  th:text="${edition.startDate}"></td>
        <td  th:text="${edition.endDate}"></td>
        <td  th:text="${edition.price}"></td>
        <td  th:text="${edition.membersLimit}"></td>
        <td  th:text="${edition.mode.nazwa}"></td>
        <td  th:text="${edition.course.description}"></td>
        <td  >
            <a sec:authorize="hasAuthority('admin')" th:href="'/admin/edytuj/' +${edition.trainer.id}" th:text="${edition.trainer.firstName}+' '+${edition.trainer.lastName}"></a>
            <a sec:authorize="isAnonymous() || hasAuthority('user') || hasAuthority('trainer')" th:href="'/trenerzy/' +${edition.trainer.id}" th:text="${edition.trainer.firstName}+' '+${edition.trainer.lastName}"></a>
        </td>
    </tr>
</table>




<footer th:replace="fragments/footer :: stopka"></footer>
</body>
</html>